In [27]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
class Employees():
    def __init__(self):
        self.conn = mysql.connector.connect(
            host="localhost",
            user="root",
            passwd="mysqlpassmacrob",
            database="employees"
        )
        self.cursor = self.conn.cursor()

    def show_databases(self):
        """This function will show the databases as a list when invoked."""
        self.cursor.execute("SHOW DATABASES;")
        [print(db) for db in self.cursor]

    def show_tables(self):
        """This function will show all the tables in the selected database."""
        self.cursor.execute("SHOW TABLES;")
        [print(table) for table in self.cursor]

    def show_employees(self):
        """This function will display all employees in the database with an added constraint"""
        self.cursor.execute("SELECT * FROM employees;")
        [print(e) for e in self.cursor]

    def show_employees_by_first_name(self, fname):
        """This function will display all employees with a given first name.""" 
        self.cursor.execute("SELECT * FROM employees WHERE first_name = %s;", (fname,))
        [print(e) for e in self.cursor]

    def emps_with_same_salary(self):
        """This function will display all employees with the same salary."""
        self.cursor.execute("""SELECT salary, 
                            COUNT(emp_no) AS employees_with_same_salary 
                            FROM salaries WHERE salary > 80000 
                            GROUP BY salary ORDER BY salary LIMIT 20;""")
        print("emp_no, employees_with_same_salary")
        [print(e) for e in self.cursor]

    def avg_salary_higher_than_120000(self):
        """This function will display the average salary of employees with a salary higher than 120000."""
        self.cursor.execute("""SELECT emp_no, AVG(salary) AS avg_salary 
                            FROM salaries GROUP BY emp_no
                            HAVING AVG(salary) > 120000
                            ORDER BY emp_no LIMIT 20;""")
        print("emp_no, avg_salary")
        [print(e) for e in self.cursor]

    def employees_signed_more_than_1(self):
        """This function selects all employees who have signed more than one contract after 01-01-2000"""
        self.cursor.execute('''
        SELECT emp_no FROM dept_emp 
        WHERE from_date > '2000-01-01' 
        GROUP BY emp_no 
        HAVING COUNT(from_date) > 1 ORDER BY emp_no''')
        print("emp_no, employees_with_same_salary")
        [print(e) for e in self.cursor]

    def insert_new_employee(self, emp_no, birth_date, first_name, last_name, gender, hire_date):
        """This function inserts a new employee into the employees table"""
        self.cursor.execute("INSERT INTO employees VALUES (%s, %s, %s, %s, %s, %s);", 
        (emp_no, birth_date, first_name, last_name, gender, hire_date))
        self.conn.commit()

In [45]:
query = Employees()
query.show_databases()

('employees',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [46]:
query.show_tables()

('current_dept_emp',)
('departments',)
('dept_emp',)
('dept_emp_latest_date',)
('dept_manager',)
('employees',)
('salaries',)
('titles',)

In [41]:
query.show_employees()

(10001, datetime.date(1953, 9, 2), 'Georgi', 'Facello', 'M', datetime.date(1986, 6, 26))
(10002, datetime.date(1964, 6, 2), 'Bezalel', 'Simmel', 'F', datetime.date(1985, 11, 21))
(10003, datetime.date(1959, 12, 3), 'Parto', 'Bamford', 'M', datetime.date(1986, 8, 28))
(10004, datetime.date(1954, 5, 1), 'Chirstian', 'Koblick', 'M', datetime.date(1986, 12, 1))
(10005, datetime.date(1955, 1, 21), 'Kyoichi', 'Maliniak', 'M', datetime.date(1989, 9, 12))
(10006, datetime.date(1953, 4, 20), 'Anneke', 'Preusig', 'F', datetime.date(1989, 6, 2))
(10007, datetime.date(1957, 5, 23), 'Tzvetan', 'Zielinski', 'F', datetime.date(1989, 2, 10))
(10008, datetime.date(1958, 2, 19), 'Saniya', 'Kalloufi', 'M', datetime.date(1994, 9, 15))
(10009, datetime.date(1952, 4, 19), 'Sumant', 'Peac', 'F', datetime.date(1985, 2, 18))
(10010, datetime.date(1963, 6, 1), 'Duangkaew', 'Piveteau', 'F', datetime.date(1989, 8, 24))
(10011, datetime.date(1953, 11, 7), 'Mary', 'Sluis', 'F', datetime.date(1990, 1, 22))
(10012, datetime.date(1960, 10, 4), 'Patricio', 'Bridgland', 'M', datetime.date(1992, 12, 18))
(10013, datetime.date(1963, 6, 7), 'Eberhardt', 'Terkki', 'M', datetime.date(1985, 10, 20))
(10014, datetime.date(1956, 2, 12), 'Berni', 'Genin', 'M', datetime.date(1987, 3, 11))
(10015, datetime.date(1959, 8, 19), 'Guoxiang', 'Nooteboom', 'M', datetime.date(1987, 7, 2))
(10016, datetime.date(1961, 5, 2), 'Kazuhito', 'Cappelletti', 'M', datetime.date(1995, 1, 27))
(10017, datetime.date(1958, 7, 6), 'Cristinel', 'Bouloucos', 'F', datetime.date(1993, 8, 3))
(10018, datetime.date(1954, 6, 19), 'Kazuhide', 'Peha', 'F', datetime.date(1987, 4, 3))
(10019, datetime.date(1953, 1, 23), 'Lillian', 'Haddadi', 'M', datetime.date(1999, 4, 30))
(10020, datetime.date(1952, 12, 24), 'Mayuko', 'Warwick', 'M', datetime.date(1991, 1, 26))

In [42]:
query.show_employees_by_first_name("John")

(999904, datetime.date(1977, 9, 14), 'John', 'Cree', 'M', datetime.date(1999, 10, 1))

In [43]:
query.insert_new_employee(100, '1977-01-01', 'John', 'Doe', 'M', '2000-01-01')